html, body{
    height: 100%;
    width: 100%;
}
#home {
    background: url(img/principal.jpg) no-repeat center center fixed;
    display: table;
    height: 100%;
    position: relative;
    width: 100%;
    background-size: cover;
}

.landing-text {
    display: table-cell;
    text-align: center;
    padding-top: 200px;
}
.landing-text h1{
    font-size: 500%;
    font-weight: 700
}
#texto1{
    padding-top: 100px;
}
#foto_perfil{
    size: 100px;
}
